<% const services = [
{ title: "Brake Repair", description: "Expert brake system repairs to ensure your vehicle stops safely and efficiently.", image: "/img/BrakeRepair.jpeg" },
{ title: "Coolant System Repair", description: "Comprehensive coolant system services to prevent overheating and maintain engine performance.", image: "/img/CoolantSystemRepair.jpeg" },
{ title: "DOT Inspection", description: "Professional DOT inspections to ensure your vehicle meets all safety and regulatory standards.", image: "/img/DotInspection.jpg" },
{ title: "Diagnostics & Electrical Repair", description: "Advanced diagnostics and electrical system repairs to keep your vehicle running smoothly.", image: "/img/DiagnosticsAndElectricalRepairs.jpg" },
{ title: "Driveline Repair", description: "Specialized driveline services to address issues with your vehicle's drivetrain components.", image: "/img/DrivelineRepair.jpg" },
{ title: "EGR & DPF Cleaning", description: "Thorough EGR and DPF cleaning services to improve engine efficiency and reduce emissions.", image: "/img/EGRAndDPFCleaning.jpg" },
{ title: "Engine Repair, Overhaul & Conversion", description: "Complete engine repairs, overhauls, and conversions to restore or enhance performance.", image: "/img/EngineRepair.jpg" },
{ title: "Exhaust System Repair", description: "Reliable exhaust system repairs to reduce emissions and improve vehicle performance.", image: "/img/ExhaustSystemRepair.jpg" },
{ title: "HVAC System Repair", description: "Expert HVAC system repairs to ensure your vehicle's heating and cooling systems function optimally.", image: "/img/HVACSystemRepair.jpg" },
{ title: "Mobile Truck Repair", description: "Convenient mobile repair services to address your truck's maintenance needs on the go.", image: "/img/MobileTruckRepair.jpeg" },
{ title: "Oil & Fluid", description: "Professional oil and fluid services to keep your engine and other systems running smoothly.", image: "/img/OilAndFluid.jpg" },
{ title: "Preventive Maintenance", description: "Proactive maintenance services to prevent breakdowns and extend the life of your vehicle.", image: "/img/PreventiveMaintenance.jpg" },
{ title: "Suspension Repair", description: "Comprehensive suspension repairs to ensure a smooth and stable ride.", image: "/img/SuspensionRepair.jpg" },
{ title: "Transmission Repair", description: "Expert transmission repairs to keep your vehicle shifting smoothly and efficiently.", image: "/img/TransmissionRepair.jpg" }
]; %>

<% const locations = [
    {
    name: "Livermore, CA",
    imageUrl: ""
    },
    {
      name: "Fremont, CA",
      imageUrl: ""
    },
    {
        name: "Oakland, CA",
        imageUrl: ""
    },
    {
        name: "San Jose, CA",
        imageUrl: ""
    }
];
%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>ALLTIME REPAIR</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .animate-fade-in {
            animation: fadeIn 0.5s ease-out forwards;
        }

        /* Initially hide elements */
        [data-animate] {
            opacity: 0;
        }
        @keyframes upDown {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(10px);
            }
        }

        .limited-animation {
            animation: upDown 2s infinite alternate;
            animation-iteration-count: 6; 
            /* Change this number to the desired number of iterations */
        }

        
    </style>
</head>

<body class="relative bg-neutral-950 max-w-7xl mx-auto border">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section
            class="text-center text-neutral-50 flex flex-col lg:flex-row items-center px-8 py-10 gap-12 pb-20 border-b border-neutral-800">
            <div id="text-content" class="text-left">
                <h2 class="text-xl md:text-xl lg:text-2xl font-bold mb-4 uppercase tracking-wider">ALLTIME REPAIR</h2>
                <h1 class="text-2xl md:text-2xl lg:text-4xl font-extrabold mb-4 leading-tight">24/7 Roadside Assistance for Trucks & Trailers</h1>
                <p class="text-xl md:text-xl lg:text-2xl mb-8 leading-relaxed">Broken down? Don't worry, we've got you covered! Fast, reliable and professional roadside assistance to keep your fleet moving.</p>
                <a id="call-us-btn" href="tel:+19253074213"
                    class="text-neutral-50 font-black px-12 py-3 text-lg bg-lime-500 rounded-lg flex w-fit items-center hover:bg-lime-600 transition duration-300 transform hover:scale-105">
                    <span class="material-icons mr-2">phone</span>Call Us
                </a>
                <div class="flex flex-wrap gap-4 mt-8">
                    <div data-animate class="flex items-center gap-2">
                        <span class="material-icons text-lime-500">build</span>
                        <span class="text-md lg:text-lg">24/7 Emergency Repairs</span>
                    </div>
                    <div data-animate class="flex items-center gap-2">
                        <span class="material-icons text-lime-500">local_shipping</span>
                        <span class="text-md lg:text-lg">Fleet Maintenance</span>
                    </div>
                    <div data-animate class="flex items-center gap-2">
                        <span class="material-icons text-lime-500">engineering</span>
                        <span class="text-md lg:text-lg">Certified Technicians</span>
                    </div>
                </div>
            </div>
            <div id="image-content" class="animate-fade-in-up flex justify-center items-center">
                <img src="/img/hero.jpeg" alt="Placeholder Image"
                    class="rounded-full w-full h-auto max-w-lg lg:w-[110%] border-l-2 border-b-2 border-lime-500 ">
            </div>
        </section>

        <section class="text-center text-neutral-50 px-8 py-10 mt-8 gap-12 border-b border-neutral-800">
            <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4 uppercase tracking-wider">OUR LOCATIONS</h2>
            <p class="text-md md:text-lg lg:text-xl leading-relaxed mb-8">We currently serve these areas with our full force and expertise.</p>
            <div class="grid grid-cols-1 lg:grid-cols-2  gap-8 mt-8 mx-5">
                <% locations.forEach(location => { %>
                    <div data-animate class="bg-neutral-900 rounded-2xl overflow-hidden shadow-lg flex flex-col md:flex-row h-52 group hover:cursor-pointer text-neutral-50" onclick="window.location.href='https://www.google.com/maps/place/<%= location.name.split(',')[0]  %>'"><div id="location-image" class="relative w-full h-full">
                            <img src="/img/<%= location.name.split(",")[0].replace(/\s/g, "").toLowerCase() %>.jpg" alt="<%= location.name %>" class="w-full h-full object-cover">
                            <div class="absolute inset-0 bg-black opacity-70 group-hover:opacity-30 transition-opacity duration-300"></div>
                            <div class="absolute inset-0 flex items-center justify-center">
                                <h3 class="text-4xl lg:text-5xl font-bold text-inherit"><%= location.name %></h3>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </section>


        <section class="text-center text-neutral-50 px-8 py-10 mt-8 gap-12 border-b border-neutral-800">
            <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4 uppercase tracking-wider">Our Services</h2>
            <p class="text-md md:text-lg lg:text-xl leading-relaxed mb-8">Explore our comprehensive range of professional services designed to meet all your fleet needs.</p>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-8 mx-5">
                <% services.forEach(service => { %>
                    <div data-animate class="bg-neutral-900 rounded-2xl overflow-hidden shadow-lg flex flex-col md:flex-row md:h-72 border-t border-b lg:border-t-0 lg:border-b-0 lg:border-l lg:border-r border-lime-500">
                        <div id="service-image" class="relative w-full md:w-1/2 max-h-auto md:max-h-full">
                            <img src="<%= service.image %>" alt="<%= service.title %>" class="w-full h-full object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none">
                        </div>
                        <div id="service-text" class="text-left p-4 flex flex-col justify-end md:justify-between md:w-1/2 h-full gap-5">
                            <div id="info-head" class="text-center md:text-left">
                                <h3 class="text-2xl font-bold mb-4"><%= service.title %></h3>
                                <p class="text-md leading-relaxed"><%= service.description %></p>
                            </div>
                            <div id="info-cta" class="mt-4 md:mt-0 text-center">
                                <a href="/services/<%= service.title.toLowerCase().replace(/[,\s]/g, "-").replace(/and/g, "").split(" ").join("-") %>" class="block text-lime-500 font-black w-full text-xl py-3 border border-lime-500 rounded-lg hover:bg-lime-600 hover:text-neutral-50 transition duration-300 transform">Learn More</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </section>

        <section class="text-center text-neutral-50 px-8 py-10 mt-8 gap-12 border-b border-neutral-800">
            <div class="mb-8">
                <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4 uppercase tracking-wider">Our Certification
                </h2>
                <p class="text-md md:text-lg lg:text-xl leading-relaxed">We are certified to provide the highest
                    quality service and ensure your fleet is always on the road.</p>
            </div>
            <div class="flex justify-center items-center">
                <img src="/img/certificate.png" alt="Commitment Image" class="w-full h-auto lg:w-[80%]">
            </div>
        </section>
        <section class="text-center text-neutral-50 px-8 py-10 mt-8 gap-12 border-b border-neutral-800">
            <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4 uppercase tracking-wider">Contact Us</h2>
            <form action="#" method="POST" class="space-y-4 flex flex-col items-center gap-4">
                <div class="flex lg:flex-row flex-col justify-center items-center gap-8">
                    <div class="flex flex-col justify-center items-center gap-8">
                        <div class="flex flex-col justify-center items-start gap-2">
                            <label class="text-white text-lg font-bold">Name</label>
                            <input type="text" class="bg-neutral-800 text-white text-lg lg:w-100 w-80 lg:h-15 px-4 py-2 border border-neutral-500 rounded-sm" required>
                        </div>
                        <div class="flex flex-col justify-center items-start gap-2">
                            <label class="text-white text-lg font-bold">Email</label>
                            <input type="text" class="bg-neutral-800 text-white text-lg lg:w-100 w-80 lg:h-15 px-4 py-2 border border-neutral-500 rounded-sm" required>
                        </div>                            
                        <div class="flex flex-col justify-center items-start gap-2">
                            <label class="text-white text-lg font-bold">Contact Number</label>
                            <input type="text" class="bg-neutral-800 text-white text-lg lg:w-100 w-80 lg:h-15 px-4 py-2 border border-neutral-500 rounded-sm" required>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center gap-9">                            
                        <div class="flex flex-col justify-center items-start gap-2">
                            <label class="text-white text-lg font-bold">Company Name</label>
                            <input type="text" class="bg-neutral-800 text-white text-lg lg:w-100 w-80 lg:h-15 px-4 py-2 border border-neutral-500 rounded-sm" required>
                        </div>
                        <div class="flex flex-col justify-center items-start gap-2">
                            <label class="text-white text-lg font-bold">Message</label>
                            <textarea class="bg-neutral-800 text-white text-lg lg:w-100 w-80 px-4 py-2 border border-neutral-500 rounded-sm" rows="6" required></textarea>
                        </div>
                    </div>                    
                </div>
                <button type="submit" class="w-50 bg-lime-600 text-white font-bold py-2 rounded-sm hover:bg-lime-700 transition">Send Message</button>
            </form>
            <div class="text-2xl my-4">OR</div>
            <div class="flex items-center justify-center space-x-4">
                <a href="tel:+19253074213"
                    class="text-neutral-100 px-5 py-2 text-lg font-medium bg-neutral-800 rounded-sm hover:bg-lime-800 transition-colors flex items-center">
                    <span class="material-icons mr-2">phone</span>Call Us
                </a>
                <a href="mailto:alltimerepair01@gmail.com"
                    class="text-neutral-100 px-5 py-2 text-lg font-medium bg-neutral-800 rounded-sm hover:bg-lime-800 transition-colors flex items-center">
                    <span class="material-icons mr-2">email</span>Mail Us
                </a>
            </div>
        </section>
    </main>

    <footer>
    </footer>
    <footer class=" text-neutral-50 py-8 mt-4">
        <div class="max-w-7xl mx-auto px-8 flex flex-col gap-4 md:flex-row justify-between items-center">
            <div class="flex items-center mb-4 md:mb-0">
                <img src="/img/logo.png" alt="Company Logo" class="w-16 h-16 mr-4">
                <div>
                    <h3 class="text-2xl font-bold">ALLTIME REPAIR</h3>
                    <p class="text-sm">24/7 Roadside Assistance for Trucks & Trailers</p>
                </div>
            </div>
            <div class="flex flex-row gap-8">
                <a href="https://www.instagram.com/"><img src="/img/instagram.svg" alt="instagram" class="h-[25px]"></a>
                <a href="https://www.facebook.com/"><img src="/img/facebook.svg" alt="facebook" class="h-[25px]"></a>
            </div>
            <div class="text-sm text-neutral-400 mt-4 md:mt-0">
                <p>&copy; 2025 ALLTIME REPAIR. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

<script>
    // Set up Intersection Observer
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add('animate-fade-in');
                entry.target.style.opacity = '1'; // Make element visible
                observer.unobserve(entry.target); // Stop observing after animation
            }
        });
    }, {
        threshold: 0.1, // Trigger when 10% of the element is visible
    });

    // Observe all elements with the `data-animate` attribute
    document.querySelectorAll('[data-animate]').forEach((element) => {
        observer.observe(element);
    });
</script>  
</html>
